@model Training.Cms.Models.CommonListViewModel<StockViewModel>

@{
    ViewData["Title"] = "Stock Management";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-between">
        <h1 class="mb-0 me-5">@ViewData["Title"]</h1>
        <form asp-action="Index" method="get" class="d-flex align-items-center">
            <div class="input-group">
                <input type="text" name="SearchQuery" class="form-control border border-end-0" placeholder="Product, Category" value="@Context.Request.Query["SearchQuery"]">
                <button type="submit" class="btn border border-start-0"> <i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th class ="text-center">Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stock in Model.Items)
        {
            <tr>
                <td>@stock.Product</td>
                <td>@stock.Category</td>
                <td class="text-center"> @stock.Quantity</td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@stock.Id">Adjust Quantity</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_PaginationPartial", Model.Pagination)

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.table').DataTable(
                {
                    "paging": false,
                    "info": false,
                    "searching": false,
                    "ordering": false
                }
            );
        });

    </script>

}
